services:
  postgres:
    image: postgres:16
    container_name: ride_service_db
    environment:
      POSTGRES_DB: rides
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: